project:
  type: website

website:
  title: "ISSS608-Visual Analytics"
  navbar:
    left:
    - text: "Hands-on Exercise"
      menu:
      - text: "Lesson Plan"
        href: ""
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

